html,body{margin:0;font-family:'MyriadRegular',Arial,Helvetica,sans-serif;line-height:1.5em;font-size:14px;background:#999;}
.clear{clear:both;}
.master-container{position:relative;width:998px;padding:1px;margin:50px auto;text-align:justify;
-moz-box-shadow:0 0 15px rgba(0,0,0,0.6);-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);-o-box-shadow:0 0 15px rgba(0,0,0,0.6);
-ms-box-shadow:0 0 15px rgba(0,0,0,0.6);-khtml-box-shadow:0 0 15px rgba(0,0,0,0.6);box-shadow:0 0 15px rgba(0,0,0,0.6);
-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;-khtml-border-radius:4px;
border-radius:4px;}
.filters .content-shadow{position:static;margin:-10px 0 0 -10px;padding:0 0 0 10px;background:#000000;zoom:1;
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=true,ShadowOpacity=0.5);}
.content{position:relative;background:#ffffff;padding:25px;}
.filters .content{top:12px;}
.content h1{line-height:1.5em;font-family:'MyriadBold';font-size:36px;margin-top:0;}
form#pig-latin-translator{overflow:hidden;}
form#pig-latin-translator fieldset{border:0;padding:0;margin:0;}
form#pig-latin-translator .plt-original-text{float:left;}
form#pig-latin-translator .plt-translated-text{float:right;}
form#pig-latin-translator label{display:block;margin:0 0 10px 0;color:#999;font-size:12px;}
form#pig-latin-translator textarea{width:460px;height:100px;border:1px solid #ccc;}
form#pig-latin-translator button{margin-top:15px;}
