html,body{margin:0;font-family:'MyriadRegular',Arial,Helvetica,sans-serif;line-height:1.5em;font-size:14px;background:#999;}
.clear{clear:both;}
.master-container{background:#fff;width:998px;padding:1px;margin:50px auto;border-radius:3px;box-shadow:0 0 15px rgba(0,0,0,0.6);}
.master-container h1{margin:25px;}
#pig-latin-translator{margin:25px;}
#pig-latin-translator fieldset{display:block;border:0;padding:0;}
.plt-original-text{float:left;}
.plt-translated-text{float:right;}
#pig-latin-translator label{display:block;margin:0 0 10px 0;color:#999;font-size:12px;}
#pig-latin-translator textarea{display:block;width:460px;height:100px;border:1px solid #ccc;}
#pig-latin-translator button{margin-top:15px;}