html,body{
	margin:0;
	font-family:'MyriadRegular',Arial,Helvetica,sans-serif;
	line-height:1.5em;
	font-size:16px;
}
html{display:table;min-width:100%;min-height:100%;height:100%;
background:	linear-gradient(rgb(108,120,159,0.6),rgb(108,120,159,0.3)),
			url('<?php echo $this->AssetUrl('/static/img/theme/box-light-dots-bg.min.svg'); ?>');
}
.clear{clear:both;}
.content{
	position:relative;
	width:75%;
	padding:25px;
	margin:50px auto;
	text-align:justify;
	background:#fff;
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
	-o-box-shadow:0 0 15px rgba(0,0,0,0.6);
	-ms-box-shadow:0 0 15px rgba(0,0,0,0.6);
	-khtml-box-shadow:0 0 15px rgba(0,0,0,0.6);
	box-shadow:0 0 15px rgba(0,0,0,0.6);
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}
.content h1{
	text-align:left;
	line-height:1.5em;
	font-family:'MyriadBold';
	font-size:36px;
	margin-top:0;
}
form.pig-latin-translator{
	margin-top:10px;
	width:calc(100% - 33px - 33px);
}
form.pig-latin-translator table{
	border-collapse:collapse;
	width:100%;
}
form.pig-latin-translator table tr td{
	padding:0;
}
form.pig-latin-translator table tr td.plt-original-text{
	padding:0 10px 0 0;
}
form.pig-latin-translator table tr td.plt-translated-text{
	padding:0 0 0 10px;
}
form.pig-latin-translator label{
	display:block;
	margin:0 0 10px 0;
	font-size:14px;
}
form.pig-latin-translator textarea{
	width:calc(100% - 20px);
	height:100px;
	text-align:left;
}
form.pig-latin-translator button{
	margin-top:15px;
}
